<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Скрепочка</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="row">
    <div class="col-md-offset-1 col-md-10" id="main">
      <header class="header row">
        <div class="center col-md-4">
          <a class="a mainLink" href="">Скрепочка</a>
        </div>
        <div class="center col-md-6">
          <form action="">
            <div class="col-md-9 row">
              <input type="text" placeholder="Поиск" class="form-control search">
            </div>
            <div class="col-md-3 row">
              <input type="submit" value="Поиск" class="form-control search">
            </div>
          </form>
        </div>
          <a href="" class="center col-md-1 pull-right">
            <img src="images/recycleBin.png" class="recycle" alt="">
          </a>
      </header>
      
      <div class="row">
        <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>   
      </div>
      <div class="row">
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>   
      </div>
      <div class="row">
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>
          <div class="col-md-3">
          <div class ="col-md-12 element">
            <p><img src="" alt="" class="element"></p>
            <p class="text-center"><span class="name pull-center">Name</span></p>
            <p class="text-center"><span class="cost">Cost</span></p>
            <p>
              <form action="" class="col-md-8 col-md-offset-2">
                <input type="submit" value="Купить" class="form-control buy">
              </form>
            </p>
          </div>
        </div>   
      </div>
    </div>
    <footer class="footer col-md-12">
      <div class="row">
        <p class="col-md-9 col-md-offset-1">При поддержке Pyramid  |  Все права защищены © 2017 </p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>