<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Скрепочка</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="row">
    <div class="col-md-offset-1 col-md-10" id="main">
      <header class="header row">
        <div class="center col-md-4">
          <a class="a mainLink" href="">Скрепочка</a>
        </div>
        <div class="center col-md-6">
          <form action="">
            <div class="col-md-9 row">
              <input type="text" placeholder="Поиск" class="form-control search">
            </div>
            <div class="col-md-3 row">
              <input type="submit" value="Поиск" class="form-control search">
            </div>
          </form>
        </div>
          <a href="" class="center col-md-1 pull-right">
            <img src="images/recycleBin.png" class="recycle" alt="">
          </a>
      </header>


      <div class="col-md-12 text-center top_n">
        Оформление заказа
      </div>
      <div class="col-md-12 bordered">
        <div class="row">
          <div class="col-md-6 text-center borderer">
            <span class="top_na">Новый пользователь</span>
            <form action="">
              <div class="row form-element">
                <div class="col-md-5 text-left col-md-offset-1">
                   <p>Введите имя</p>
                </div>
                <div class="col-md-5">
                  <input type="text" placeholder="Имя" class="form-control">
                </div>
              </div>

              <div class="row form-element">
                <div class="col-md-5 text-left col-md-offset-1">
                   <p>Введите фамилию</p>
                </div>
                <div class="col-md-5">
                  <input type="text" placeholder="Фамилия" class="form-control">
                </div>
              </div>

              <div class="row form-element">
                <div class="col-md-5 text-left col-md-offset-1">
                   <p>Введите телефон</p>
                </div>
                <div class="col-md-5">
                  <input type="tel" placeholder="Телефон" class="form-control">
                </div>
              </div>

              <div class="row form-element">
                <div class="col-md-5 text-left col-md-offset-1">
                   <p>Введите e-mail</p>
                </div>
                <div class="col-md-5">
                  <input type="email" placeholder="e-mail" class="form-control">
                </div>
              </div>

              <div class="row form-element">
                <div class="col-md-5 text-left col-md-offset-1">
                   <p>Введите логин</p>
                </div>
                <div class="col-md-5">
                  <input type="text" placeholder="Логин" class="form-control">
                </div>
              </div>

              <div class="row form-element">
                <div class="col-md-5 text-left col-md-offset-1">
                   <p>Введите пароль</p>
                </div>
                <div class="col-md-5">
                  <input type="password" placeholder="Пароль" class="form-control">
                </div>
              </div>

              <div class="row form-element">
                <div class="col-md-5 text-left col-md-offset-1">
                   <p>Введите подтверждение пароля</p>
                </div>
                <div class="col-md-5">
                  <input type="password" placeholder="Подтверждение пароля" class="form-control">
                </div>
              </div>

              <div class="form-element">
                <div class="col-md-6 col-md-offset-3">
                  <input type="submit" value="Зарегестрироваться" class="form-control">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 text-center">
            <span class="top_na">Зарегистрированный пользователь</span>
            <div class="col-md-12">
              <form action="">
                <div class="row form-element">
                  <div class="col-md-5 text-left col-md-offset-1">
                     <p>Введите логин</p>
                  </div>
                  <div class="col-md-5">
                    <input type="text" placeholder="Логин" class="form-control">
                  </div>
                </div>
                <div class="row form-element">
                  <div class="col-md-5 text-left col-md-offset-1">
                     <p>Введите пароль</p>
                  </div>
                  <div class="col-md-5">
                    <input type="password" placeholder="Пароль" class="form-control">
                  </div>
                </div>
                <div class="form-element">
                  <div class="col-md-6 col-md-offset-3">
                    <input type="submit" value="Войти" class="form-control">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



    <footer class="footer col-md-12">
      <div class="row">
        <p class="col-md-9 col-md-offset-1">При поддержке Pyramid  |  Все права защищены © 2017 </p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>