{% extends "base.jinja2" %}
{% block data %}
		

      <div class="row">
        <table class="col-md-6 col-md-offset-3">
          <tr>
            <td class="col-md-2">
                <img src="/static/images/busket.png" alt="">
            </td >
            <td class="col-md-10">
              <span class="big">Панель админа</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="row">
        <table class="col-md-6 col-md-offset-3">
          <tr>
            <td class="col-md-6">
              <a href="admin">Заказы</a>
            </td >
            <td class="col-md-6">
            	<a href="products">Товары</a>
            </td>
          </tr>
        </table>
      </div>
      {% for first in all %}
      <div class="col-md-12 bordered">
      	<table class="table table-bordered">
		  		<tr>
		  			<td class="col-md-2">
		  				{{first[0].FirstName}}
		  			</td>
		  			<td class="col-md-2">			
		  				{{first[0].SecondName}}
		  			</td>			
		  			<td class="col-md-2">			
		  				{{first[0].Login}}
		  			</td>
		  			<td class="col-md-3">			
		  				{{first[0].Mail}}
		  			</td>
		  			<td class="col-md-3">			
		  				{{first[0].Tel}}
		  			</td>

		  		</tr>
      	</table>
        <table class="table table-bordered">
          <tr>
            <th class="col-md-2">Изображение</th>
            <th class="col-md-4">Название</th>
            <th class="col-md-2">Колличество</th>
            <th class="col-md-2">Цена за шт.</th>
            <th class="col-md-2">Всего</th>
          </tr> 
          {% for pr in first[1] %}
          <tr>

            <td>
              <div class="col-md-10 col-md-offset-1 row">
                <img src="/static/images/{{pr[0].Picture}}.png" alt="">
              </div>
            </td>

            <td>
              <div class="row">
                {{ pr[0].Name }}
              </div>
            </td>

            <td>
              <div class="row">
                <form action="/reload/{{pr[1].id}}" method="POST">
                  <div class="col-md-12">
                    <input type="text" class="form-control" value="{{pr[1].Count}}" name="count" readonly="readonly">
                  </div>
                </form>
              </div>
            </td>
            <td>
              <div class="center-block pull-right">
                {{pr[0].Cost}} руб
              </div>
            </td>
            <td>
              <div class="center-block pull-right">
                {{pr[2]}} руб
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
        <div class="col-md-6 col-md-offset-6">
          <span class="check">
            <div class="row">
              <div class="pull-left">
                <p> Всего </p>
              </div>
              <div class="pull-right">
                {{first[2]}} руб
              </div>
            </div>
          </span>
        </div>
        <div class="row">
          <div class="col-md-3 pull-left">
            <a href="/removeOrder/{{first[0].Login}}" class="form-control">Отказать</a>
          </div>
          <div class="col-md-offset-6 col-md-3 pull-right">
            <a href="/removeOrder/{{first[0].Login}}" class="form-control">Подтвердить</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>    

{% endblock %}